APP_NAME=realworld-fiber-clean
APP_VERSION=1.0.0
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_HEADERS=Origin,Content-Type,Accept,Authorization
CORS_ALLOW_METHODS=GET,POST,HEAD,PUT,DELETE,PATCH
CORS_ALLOW_ORIGINS=https://realworld.minhhoccode111.com
HTTP_PORT=8080
HTTP_USE_PREFORK_MODE=false
JWT_EXPIRATION=240h
JWT_ISSUER=realworldfiberclean
JWT_SECRET=5ed346b3-1473-4ec6-9c07-b2b31b3ca973
JWT_COOKIE_SECURE=true
JWT_COOKIE_SAME_SITE=Strict
LOG_LEVEL=info
METRICS_ENABLED=true
PG_POOL_MAX=10
SWAGGER_ENABLED=true
POSTGRES_USER=mhc
POSTGRES_PASSWORD=password
POSTGRES_DB=realworld
POSTGRES_SSL_MODE=disable
POSTGRES_HOST=db
POSTGRES_PORT=5432
