version: "3.9"


x-db-environment: &x-db-environment
  POSTGRES_SSL_MODE: "disable"
  POSTGRES_HOST: "db"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "fibercleanrealworld"
  POSTGRES_PASSWORD: "Bruh0!0!"
  POSTGRES_USER: "mhc"

x-rabbitmq-variables: &x-rabbitmq-variables
  RABBITMQ_DEFAULT_USER: "guest"
  RABBITMQ_DEFAULT_PASS: "guest"

x-backend-app-environment: &x-backend-app-environment
  GOMAXPROCS: "1"
  # App
  APP_NAME: "realworld-fiber-clean"
  APP_VERSION: "1.0.0"
  # HTTP settings
  HTTP_PORT: "8080"
  HTTP_USE_PREFORK_MODE: "false"
  # Logger
  LOG_LEVEL: "debug"
  # PG
  PG_POOL_MAX: "2"
  PG_URL: "postgresql://mhc:Bruh0%210%21@db:5432/fibercleanrealworld"
  # gRPC
  GRPC_PORT: "8081"
  # RMQ
  RMQ_RPC_SERVER: "rpc_server"
  RMQ_RPC_CLIENT: "rpc_client"
  RMQ_URL: "amqp://guest:guest@rabbitmq:5672/"
  # NATS
  NATS_RPC_SERVER: "rpc_server"
  NATS_URL: "nats://guest:guest@nats:4222/"
  # Metrics
  METRICS_ENABLED: "true"
  # Swagger
  SWAGGER_ENABLED: "true"
  # JWT
  JWT_ISSUER: "realworldfiberclean"
  JWT_SECRET: "c993332e-1a4e-4de5-ac74-98074ff41ff0"
  JWT_EXPIRATION: "240h"
  # CORS
  CORS_ALLOW_ORIGINS: "http://localhost:3000,https://myfrontend.com"
  CORS_ALLOW_CREDENTIALS: "true"
  CORS_ALLOW_HEADERS: "Origin,Content-Type,Accept,Authorization"
  CORS_ALLOW_METHODS: "GET,POST,HEAD,PUT,DELETE,PATCH"


services:
  db:
    container_name: db
    image: postgres:17-alpine
    environment:
      <<: *x-db-environment
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      app_network:
        aliases:
          - db.lvh.me

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4.1.4-management
    environment:
      <<: *x-rabbitmq-variables
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      app_network:
        aliases:
          - rabbitmq.lvh.me

  nats:
    container_name: nats
    image: nats:2.12-alpine
    command: [ "-m", "8222", "-sd", "/nats-data", "-user", "guest", "-pass", "guest" ]
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats_data:/nats-data
    networks:
      app_network:
        aliases:
          - nats.lvh.me

  app:
    container_name: app
    platform: linux/amd64
    pid: "host"
    build:
      context: .
    environment:
      <<: *x-backend-app-environment
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - db
      - rabbitmq
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: '2Gb'
        reservations:
          cpus: '0.60'
          memory: '1Gb'
    networks:
      app_network:
        aliases:
          - app.lvh.me

  nginx:
    container_name: nginx
    image: nginx:1.29.4-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - rabbitmq
      - app
    networks:
      app_network:
        aliases:
          - nginx.lvh.me


networks:
  app_network:
    external: false


volumes:
  db_data:
  rabbitmq_data:
  nats_data:
