version: "3.9"


x-backend-app-environment: &x-backend-app-environment
  GOMAXPROCS: "1"
  # App
  APP_NAME: "realworld-fiber-clean"
  APP_VERSION: "1.0.0"
  # HTTP settings
  HTTP_PORT: "8080"
  HTTP_USE_PREFORK_MODE: "false"
  # Logger
  LOG_LEVEL: "debug"
  # PG
  PG_POOL_MAX: "2"
  PG_URL: "postgresql://mhc:Bruh0!0!@localhost:5432/realworld"
  # Metrics
  METRICS_ENABLED: "true"
  # Swagger
  SWAGGER_ENABLED: "true"
  # JWT
  JWT_ISSUER: "realworldfiberclean"
  JWT_SECRET: "c993332e-1a4e-4de5-ac74-98074ff41ff0"
  JWT_EXPIRATION: "240h"
  # CORS
  CORS_ALLOW_ORIGINS: "http://localhost:3000,https://myfrontend.com"
  CORS_ALLOW_CREDENTIALS: "true"
  CORS_ALLOW_HEADERS: "Origin,Content-Type,Accept,Authorization"
  CORS_ALLOW_METHODS: "GET,POST,HEAD,PUT,DELETE,PATCH"


services:
  app:
    container_name: app
    platform: linux/amd64
    pid: "host"
    build:
      context: .
    environment:
      <<: *x-backend-app-environment
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: '2Gb'
        reservations:
          cpus: '0.60'
          memory: '1Gb'
    networks:
      app_network:
        aliases:
          - app.lvh.me

networks:
  app_network:
    external: false
